/* --- start of contact block ---*/



@media screen and (max-width: 790px) {
	img {
	display: block;
	margin: auto;
	width: 750px;
	height: 400px;
	/* myimg:expression(onload=function(){  */
	/* this.style.width=(this.offsetWidth > 1000)?"00px":"auto"}); */
	}
	
	#span_index{color: #f7f7f7;
	background-color: #70797385;
	font-family:微軟正黑體;		
	}
}

@media screen and (max-width: 600px) {
	
	img {
	display: block;
	margin: auto;
	width: 330px;
	height: 300px;
	/* myimg:expression(onload=function(){  */
	/* this.style.width=(this.offsetWidth > 1000)?"00px":"auto"}); */
	}
	/* .flip-card-back-part1{ */
	/* top:calc(8% - 10px); */
	/* text-align:left; */
	/* float:left;	  */
	/* margin-left:calc(10% - 10px); */
	/* display:inline-block; */
	/* position:relative; */
	 
	/* } */
  /* .flip-card-back-part2{ */
    /* text-align:left; */
	/* float:left; */
	/* top:calc(8% - 15px); */
	/* margin-left:calc(10% - 10px); */
	/* display:inline-block; */
	/* position:relative; */
  /* } */
  /* .flip-card { */
    /* background-color: transparent; */
    /* width: 75%; */
    /* height: 270px;     */
    /* display: block; */
    /* margin: auto; */
  /* } */
  
  /* .flip-card-front-context{    */
    /* text-align: center; */
    /* top: calc(20% - 10px); */
    /* position: relative; */
	/* width:100%; */
  /* } */
  
  
	.container-contact-box{
	position:relative;
	display:inline-block;
	left: calc(0%);
	font-size: .9em;
	width: 100%;
	padding: 12px;
	}
	
	.container-fluid > .container-contact-box > .c-home {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;

	}

	.container-fluid > .container-contact-box > .c-phone {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}

	.container-fluid > .container-contact-box > .c-fax {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}

	.container-fluid > .container-contact-box > .c-at {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}

	.container-fluid > .container-contact-box > .c-envelope {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}

	.container-fluid > .container-contact-box > .c-bell {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}
	
	
	
  }
  
  @media screen and (max-width: 450px) {
	
    img {
    display: block;
    margin: auto;
    width: 360px;
    height: 300px;
    /* myimg:expression(onload=function(){  */
    /* this.style.width=(this.offsetWidth > 1000)?"00px":"auto"}); */
    }
  }

  @media screen and (max-width: 380px) {
	
    img {
    display: block;
    margin: auto;
    width: 340px;
    height: 300px;
    /* myimg:expression(onload=function(){  */
    /* this.style.width=(this.offsetWidth > 1000)?"00px":"auto"}); */
    }
  }
  
  /*  This is for iphone 5s and se*/
  
  @media screen and (max-width: 350px) { 
  
  img {
    display: block;
    margin: auto;
    width: 300px;
    height: 200px;
    /* myimg:expression(onload=function(){  */
    /* this.style.width=(this.offsetWidth > 1000)?"00px":"auto"}); */
    }
	
	
  
  .container-contact-box{
	position:relative;
	display:inline-block;
	left:calc(0%);
	font-size: .8em;
	}
	
	.container-fluid > .container-contact-box > .c-home {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;

	}

	.container-fluid > .container-contact-box > .c-phone {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}

	.container-fluid > .container-contact-box > .c-fax {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}

	.container-fluid > .container-contact-box > .c-at {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}

	.container-fluid > .container-contact-box > .c-envelope {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}

	.container-fluid > .container-contact-box > .c-bell {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin-bottom: 15px;
	padding: 4px 12px;
	}
	
	}

	
	
    /*  This is for iphone 5s and se*/
    
/* --- end of contact block ---*/